<div class="homepage">
     <div class="row" id="welcome1">
		<div class="small-6 columns small-offset-3 text-center">
			<div id="logo_container">
				<br>
				<br>
				<img src="assets/camera.png">
				<h1>Photo iQueue</h1>
			</div>		
		</div>
     </div>
</div>



