<!-- this shows all the photos in a slider -->
<div id="slider">
  <h1>Your Photos</h1>
  <a href="#" class="control_prev">Next Photo</a>
  <ul>
    <% @photos.each do |photo| %>
      <li style="background: #aaa;"><%= link_to image_tag(photo.upload_image.url), photo %></li>
    <% end %>  
  </ul>  
  <br>
</div>
<!-- shows all the photos in an overlapping grid -->
<div class="photo_container"
  <section id="photos">
    <% @photos.each do |photo| %>
    <%= link_to image_tag(photo.upload_image.url), photo %>
    <% end %>
  </section>
</div>




